<p>Action is fired when the bottom of the div is scrolled to</p>

{{#each things as |thing|}}
  <div class="thing">{{thing.name}}</div>
{{/each}}

{{#infinite-scroller class="example-1" on-load-more=(action 'loadMore') as |scroller|}}
  Loading...
{{else}}
  Loaded
{{/infinite-scroller}}
